# Public key of primary Relayer submitter
RELAYER_SUBMITTER_EOA_PUB_KEY=<CHANGE_ME>
# Public key of the Immutable signer loaded from SM
IMMUTABLE_SIGNER_PUB_KEY=<CHANGE_ME>

# Change this to match the address of the CREATE2 contract factory
DEPLOYER_CONTRACT_ADDRESS=<CHANGE_ME>

# Change the following values to match the values set in the following
# document https://immutable.atlassian.net/wiki/spaces/PRIM/pages/2349203716/PROD+Relayer+Admin+Roles
# for the corresponding environment
MULTICALL_ADMIN_PUB_KEY=<CHANGE_ME_TO_A_PRIVILEGED_TRANSACTION_MULTISIG>
FACTORY_ADMIN_PUB_KEY=<CHANGE_ME_TO_A_PRIVILEGED_TRANSACTION_MULTISIG>
WALLET_IMPL_LOCATOR_ADMIN=<CHANGE_ME_TO_A_PRIVILEGED_TRANSACTION_MULTISIG>
WALLET_IMPL_CHANGER_ADMIN=<CHANGE_ME_TO_A_PRIVILEGED_TRANSACTION_MULTISIG>
SIGNER_ROOT_ADMIN_PUB_KEY=<CHANGE_ME_TO_A_PRIVILEGED_TRANSACTION_MULTISIG>
SIGNER_ADMIN_PUB_KEY=<CHANGE_ME_TO_A_BREAK_GLASS_TRANSACTION_MULTISIG>
