.vscode
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.js.map
build
coverage
coverage.json

config/*.env

src/gen
src/artifacts
scripts/local_output.json

# MAC OS custom directory attributes file.
.DS_Store

# IntelliJ IDE directory
.idea
*.iml

# Ignore any environmental files with sensitive data
.env
.env.localhost
.env.devnet
.env.testnet
.env.mainnet
